/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f1f2f5;
}

.container {
  width: 90vw;
  max-width: 1160px;
  margin: 0 auto;
  padding: 4rem 0;
}

.container h1 {
  text-align: center;
}

.users {
  display: grid;
  gap: 2rem;
  list-style: none;

  margin-top: 3rem;
}

.users li {
  display: flex;
  background-color: #ffffff;
  border-radius: 0.5rem;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.24);

  padding: 1rem;
}

img {
  width: 75px;
  height: 75px;
  border-radius: 50%;

  margin-right: 2rem;
}

h4 {
  text-transform: capitalize;
}

a {
  text-decoration: none;
  color: gray;
}

@media screen and (min-width: 768px) {
  .users {
    grid-template-columns: repeat(3, 1fr);
  }
} */

.form-control {
  padding: 10px;
  margin: 5px;
}

.btn {
  padding: 10px;
  margin: 5px;
}
